
<div class="modal fade" id="viewModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Employee Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <p><strong>Employee ID:</strong> {{ employee?.eId }}</p>
        <p><strong>Name:</strong> {{ employee?.name }}</p>
        <p><strong>Salary:</strong> {{ employee?.sal }}</p>
        <p><strong>Gender:</strong> {{ employee?.gender }}</p>
      </div>

    </div>
  </div>
</div>
