
<!--<app-navbar></app-navbar>
<app-categories></app-categories>
<app-carousel></app-carousel>

<app-body>
    
</app-body>
<app-footer></app-footer>
<app-databinding-assign></app-databinding-assign>
<app-directives></app-directives>
<app-table-card></app-table-card>
<app-products></app-products>
<app-demo1></app-demo1>
<app-directives></app-directives>
<app-employee-crud></app-employee-crud>
<app-pipes></app-pipes>
<app-pipes-assignment></app-pipes-assignment>-

<app-parent></app-parent>
<app-employee-crud></app-employee-crud>-->

<app-assign-employee-crud></app-assign-employee-crud>



