<!--<app-navbar></app-navbar>
<app-categories></app-categories>
<app-carousel></app-carousel>


<app-footer></app-footer>
<app-databinding-assign></app-databinding-assign>
<app-directives></app-directives>
<app-table-card></app-table-card>
<app-products></app-products>
<app-demo1></app-demo1>
<app-directives></app-directives>
<app-employee-crud></app-employee-crud>
<app-pipes></app-pipes>
<app-pipes-assignment></app-pipes-assignment>-

<app-parent></app-parent>
<app-employee-crud></app-employee-crud>

<app-assign-employee-crud></app-assign-employee-crud>

<app-math1></app-math1>
<hr><hr>
<app-math2></app-math2>
<hr><hr>
<app-assign-employee-s></app-assign-employee-s>
<hr><hr>
<app-http-demo1></app-http-demo1>
<app-assign-http></app-assign-http>
<app-http-demo1></app-http-demo1>
<app-observable-demo1></app-observable-demo1>
<app-observable-demo2></app-observable-demo2>-->
<app-observable-demo3></app-observable-demo3>

<div class="row">
    div.
</div>