<script>
    user_url = 'http://jsonplaceholder.typicode.com/users';

    //fetch(user_url);  //It returns a promise
    //let response = await(fetch(user_url));

    //let finalResponse = await response.json();
    //console.log(finalResponse);  // But line 5-8 wont work because await works only in async functions

    async function fetchData(){
        let response = await(fetch(user_url));

        let finalResponse = await response.json();
        console.log(finalResponse); 
    }
    fetchData();

</script>